# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python: 3.5

env:
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=flake8
  - TOXENV=coverage

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -U tox coveralls

after_success:
    - coveralls

# command to run tests, e.g. python setup.py test
script: tox -e ${TOXENV}


